nav {
    background: url('images/f6aaae04e2fb5504497a69cbeb3695e3.jpg') center/cover;
    padding: 0.5rem;
}

nav a {
    color: #fff;
    -webkit-text-stroke: 1px #333;
    font-size: 20px;
    text-decoration: none;
    margin: 0 1rem;
    display: inline-block;
}

nav a:hover {
    text-decoration: underline;
}