
nav {
        background: url('../images/nav.jpg') center/cover;
        background-repeat: repeat-y;
        background-size: 1000;

    }

    nav a {
        color: #fff;
        -webkit-text-stroke: 1px #333;
        font-weight: bold;
        font-size: 25px;
        text-decoration: underline pink ;
        margin: 0.5rem;
        display: inline-block;
        position: inherit;
        
    }

    nav a:hover {
        text-decoration: rgb(110, 226, 43) underline;
    }
    #header{
        
        font-family: Calisto MT,Bookman Old Style,Bookman,Goudy Old Style,Garamond,Hoefler Text,Bitstream Charter,Georgia,serif;
    }
    main {
        display: grid; 
        height: 60px;
        padding: 5px;
        margin: 5px;
        background-color: #ddfca7;

    }

    aside {
        display: grid; 
        height: 10px;
        padding: 5px;
        margin: 5px;
        background-color: #f0f0f0;
        
    }

    body {
         background-image: url(https://i.pinimg.com/736x/2e/39/ba/2e39ba458c4424c16e79ec78eecd2318.jpg); 
        /*background-color:#F5EADC;*/
        background-repeat: repeat-x, repeat-y;
        background-attachment: fixed;
        scroll-behavior: smooth;
        
        background-size: cover;
        background-position: center;
        
    }
    

    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        color: #3d1810;
        font-size: 20px;
        font-weight: bold;
        -webkit-text-stroke: .4px #333;
    }

    

    .container {
        display: grid;
        grid-gap: 5px;
        grid-template:
        "header header header"
        "sidebar main main"
        "footer footer footer"
        / 1fr 1fr 4fr;
        grid-gap: 10px;
        grid-template: 
        "a a a" 40px
        "b b b" 40px
        "c c c" 40px
        / 1fr 1fr 1fr;
        background: rgb(243, 237, 237);
    }
    header {grid-area: header;}
    aside {grid-area: sidebar;}
    main {grid-area: main;}
    footer {grid-area: footer;}

    

    section {
        margin: 2rem 0;
    }

    footer {
        background: #333;
        color: #fff;
        text-align: center;
        padding: 1rem;
        margin-top: 2rem;
    }
    
    #js_text {
        font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
        font-weight: 400;
        font-size: 10px;
    }


    #elletext {
        /*font-style: italic;*/
        font-family: georgia, sans-serif;
        font-size: 12px;
        margin: 0;
        
    }